@media screen and (max-width:768px){
    #u34995 {
        position: relative;
        width: 573px;
        z-index: 39;
    }
    #u34995, #u109426 {
        background-color: transparent;
    }
    .colelem {
        clear: both;
        display: inline;
        float: left;
    }

    #u34995, #u109426 {
        background-color: transparent;
    }
    #u34995 {
        position: relative;
        width: 573px;
        z-index: 39;
    }
    #u34995 {
        position: relative;
        width: 573px;
        z-index: 39;
    }
    #u34995, #u109426 {
        background-color: transparent;
    }

    #u34997 {
        padding-bottom: 41.15px;
        position: relative;
        width: 573px;
        z-index: 43;
    }
    #u34997 {
        background-color: transparent;
        border-color: transparent;
        border-width: 0;
    }

    #u15695-3 {
        left: -48px;
        margin-left: 0px;
        min-height: 96px;
        position: relative;
        width: 100%;
        z-index: 68;
    }
    #u15695-3 {
        background: transparent url("../../images/logo%20bstim.svg?crc=132137462") no-repeat scroll left top / contain ;
        background-position:34%;
        color: #3f3f3f;
        font-family: open-sans,sans-serif;
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 8px;
        line-height: 27px;
        opacity: 1;
        text-align: center;
    }

    #u15694-4 {
        left: -127px;
        margin-left: 0px;
        margin-top: 24px;
        min-height: 72px;
        position: relative;
        width: 100%;
        z-index: 71;
    }
    #u15694-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    #u15697-4 {
        left: -127px;
        margin-bottom: -1px;
        margin-left: 0px;
        min-height: 72px;
        position: relative;
        top: -1px;
        width: 100%;
        z-index: 44;
    }
    #u15697-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    #u15698-4 {
        left: -127px;
        margin-bottom: -1px;
        margin-left: 0px;
        min-height: 72px;
        position: relative;
        top: -1px;
        width: 100%;
        z-index: 52;
    }
    #u15698-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    #u15699-4 {
        left: -127px;
        margin-bottom: -1px;
        margin-left: 0px;
        min-height: 72px;
        position: relative;
        top: -1px;
        width: 100%;
        z-index: 56;
    }
    #u15699-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    #u113917-4 {
        left: -127px;
        margin-bottom: -1px;
        margin-left: 0px;
        min-height: 72px;
        position: relative;
        top: -1px;
        width: 100%;
        z-index: 60;
    }
    #u113917-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    #u113923-4 {
        left: -127px;
        margin-bottom: -1px;
        margin-left: 0px;
        min-height: 72px;
        position: relative;
        top: -1px;
        width: 100%;
        z-index: 64;
    }
    #u113923-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    #u61658-4.MuseLinkActive, #u61672-4:hover {
        left: -127px;
        margin: 0 0 -1px 50%;
        min-height: 72px;
        padding-bottom: 0;
        padding-top: 0;
        width: 100%;
    }
    #u15694-4.MuseLinkActive, #u15697-4.MuseLinkActive, #u15698-4.MuseLinkActive, #u15699-4.MuseLinkActive, #u113917-4.MuseLinkActive, #u113923-4.MuseLinkActive, #u61658-4.MuseLinkActive, #u61672-4.MuseLinkActive, #u15696-4.MuseLinkActive {
        background: transparent url("../../images/active_icon_menu.png?crc=462519446") no-repeat scroll center center;
        opacity: 1;
    }
    #u61658-4 {
        left: -127px;
        margin-bottom: -1px;
        margin-left: 0px;
        min-height: 72px;
        position: relative;
        top: -1px;
        width: 100%;
        z-index: 75;
    }
    #u61658-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    #u61672-4 {
        left: -127px;
        margin-bottom: -1px;
        margin-left: 0px;
        min-height: 72px;
        position: relative;
        top: -1px;
        width: 100%;
        z-index: 79;
    }
    #u61672-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    #u15696-4 {
        left: -127px;
        margin-bottom: -1px;
        margin-left: 0px;
        min-height: 72px;
        position: relative;
        top: -1px;
        width: 100%;
        z-index: 48;
    }
    #u15696-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }
    
    #u114282-3 {
        background: transparent url("../../images/logo%20bstim.svg?crc=132137462") no-repeat scroll left top / contain ;
        color: #3f3f3f;
        font-family: open-sans,sans-serif;
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 8px;
        line-height: 27px;
        opacity: 1;
        text-align: center;
    }
    
    #u114283-4 {
        left: 0;
        margin-left: 22.2%;
        margin-top: 11px;
        min-height: 49px;
        position: relative;
        width: 55.62%;
        z-index: 93;
    }
    #u114283-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 14px;
        text-align: center;
    }
    
    #u114285-4 {
        left: 0;
        margin-bottom: -1px;
        margin-left: 22.2%;
        min-height: 49px;
        position: relative;
        top: -1px;
        width: 55.62%;
        z-index: 66;
    }
    #u114285-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 14px;
        text-align: center;
    }
    
    #u114288-4 {
        left: 0;
        margin-bottom: -1px;
        margin-left: 22.2%;
        min-height: 49px;
        position: relative;
        top: -1px;
        width: 55.62%;
        z-index: 74;
    }
    #u114288-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 14px;
        text-align: center;
    }
    
    #u114287-4 {
        left: 0;
        margin-bottom: -1px;
        margin-left: 22.2%;
        min-height: 49px;
        position: relative;
        top: -1px;
        width: 55.62%;
        z-index: 78;
    }
    #u114287-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 14px;
        text-align: center;
    }
    
    #u114279-4 {
        left: 0;
        margin-bottom: -1px;
        margin-left: 22.2%;
        min-height: 49px;
        position: relative;
        top: -1px;
        width: 55.62%;
        z-index: 82;
    }
    #u114279-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 14px;
        text-align: center;
    }
    
    #u114280-4 {
        left: 0;
        margin-bottom: -1px;
        margin-left: 22.2%;
        min-height: 49px;
        position: relative;
        top: -1px;
        width: 55.62%;
        z-index: 86;
    }
    #u114280-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 14px;
        text-align: center;
    }
    
    #u114281-4 {
        left: 0;
        margin-bottom: -3px;
        margin-left: 22.2%;
        min-height: 49px;
        position: relative;
        top: -3px;
        width: 55.62%;
        z-index: 70;
    }
    #u114281-4 {
        background-color: transparent;
        border-color: #ededed;
        border-style: solid;
        border-width: 0 0 1px;
        color: #606060;
        font-family: open-sans,sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 14px;
        text-align: center;
    }
}